*{
    margin: 0;
    padding: 0;
}
.galery{
    margin: 50px auto;
    border: black solid 1px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    min-width: 320px;
}
.galery img{
    border: rgb(94, 94, 94) solid 3px;
    transition: 0.3s;
}
.galery img:hover{
    border:  rgb(0, 0, 0) solid 3px;
    transform: scale(1.1);
}
.darkback{
    background-color: black;
    opacity: 80%;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    display: none;
}
.lightimg{
    opacity: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    top: -100px;
    display: none;
    min-width: 320px;
}
.lightimg div{
    min-width: 320px;
}
.lightimg img{
    min-width: 320px;
    width: 60%;
    border: solid 5px whitesmoke;
    animation-name: transit;
    animation-duration: 1s;
}
@keyframes transit{
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
.left, .right{
    color: rgb(199, 199, 199);
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block
}
.left:hover, .right:hover{
    color: white;
    transform: scale(1.2);
}
